/* Background Image */
.background-image {
    position: relative;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    width: 300%;
    height: 300%;
    background-image: url('./assets/image.png'); 
   
    z-index: 2; 
}
.heading{
    text-align: center;
    font-size: 30px;
    color:#4caf50;
    margin-top: 20px;
}
/* Form Group Styling */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}


.form-group label {
    flex: 1; 
    text-align: left; 
    font-weight: bold; 
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 2; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Checkbox Alignment */
.form-group input[type="checkbox"] {
    flex: 0;
    margin-right: 10px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    /* padding: 15px; */
    z-index: 1000;
}
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #f4f4f4;
    z-index: -1;
    position: relative;
}
#banner img {
    max-width: 200%;
    height: 400px;
    display: block;
}

#terms-box {
    position: fixed; 
    top: 100px;
    left: 20px;
    width: 300px;
    height: 30%; 
    background-color: #86c0d8; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll; 
    overflow-x: hidden; 
    z-index: 1; 
}

#terms-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.terms-content {
    font-size: 14px;
    line-height: 1.5;
    max-height: calc(100% - 40px); 
}

/* Main Content Styling */
#buyer-form {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    width: 50%;
    margin: auto;
    border: 5px solid #5a76cf;
    margin-top: -70px;
    margin-left: 350px; 
    z-index: 1; 
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
button {
    background-color: #6ef075;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    width: 50%;
}

button:hover {
    background-color: #d38eb8;
}
